# Predict The Points Of A Team

In [ ]:
#general
import io
import os
import shutil
import requests
import base64

#pandas
import pandas as pd

#TensorFlow
import tensorflow as tf
#numpy
import numpy as np

#matplotlib.pylot
import matplotlib.pyplot as plt

#sklearn
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

#keras
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint
from keras.layers.core import Dense, Activation

In [2]:
from sklearn import preprocessing
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import shutil
import os
import requests
import base64


# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = "{}-{}".format(name, x)
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)


# Encode text values to a single dummy variable.  The new columns (which do not replace the old) will have a 1
# at every location where the original column (name) matches each of the target_values.  One column is added for
# each target value.
def encode_text_single_dummy(df, name, target_values):
    for tv in target_values:
        l = list(df[name].astype(str))
        l = [1 if str(x) == str(tv) else 0 for x in l]
        name2 = "{}-{}".format(name, tv)
        df[name2] = l


# Encode text values to indexes(i.e. [1],[2],[3] for red,green,blue).
def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    df[name] = le.fit_transform(df[name])
    return le.classes_


# Encode a numeric column as zscores
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd


# Convert all missing values in the specified column to the median
def missing_median(df, name):
    med = df[name].median()
    df[name] = df[name].fillna(med)


# Convert all missing values in the specified column to the default
def missing_default(df, name, default_value):
    df[name] = df[name].fillna(default_value)


# Convert a Pandas dataframe to the x,y inputs that TensorFlow needs
def to_xy(df, target):
    result = []
    for x in df.columns:
        if x != target:
            result.append(x)
    # find out the type of the target column.  Is it really this hard? :(
    target_type = df[target].dtypes
    target_type = target_type[0] if hasattr(target_type, '__iter__') else target_type
    # Encode to int for classification, float otherwise. TensorFlow likes 32 bits.
    if target_type in (np.int64, np.int32):
        # Classification
        dummies = pd.get_dummies(df[target])
        return df.as_matrix(result).astype(np.float32), dummies.as_matrix().astype(np.float32)
    else:
        # Regression
        return df.as_matrix(result).astype(np.float32), df.as_matrix([target]).astype(np.float32)

# Nicely formatted time string
def hms_string(sec_elapsed):
    h = int(sec_elapsed / (60 * 60))
    m = int((sec_elapsed % (60 * 60)) / 60)
    s = sec_elapsed % 60
    return "{}:{:>02}:{:>05.2f}".format(h, m, s)


# Regression chart.
def chart_regression(pred,y,sort=True):
    t = pd.DataFrame({'pred' : pred, 'y' : y.flatten()})
    if sort:
        t.sort_values(by=['y'],inplace=True)
    a = plt.plot(t['y'].tolist(),label='expected')
    b = plt.plot(t['pred'].tolist(),label='prediction')
    plt.ylabel('output')
    plt.legend()
    plt.show()

# Remove all rows where the specified column is +/- sd standard deviations
def remove_outliers(df, name, sd):
    drop_rows = df.index[(np.abs(df[name] - df[name].mean()) >= (sd * df[name].std()))]
    df.drop(drop_rows, axis=0, inplace=True)


# Encode a column to a range between normalized_low and normalized_high.
def encode_numeric_range(df, name, normalized_low=-1, normalized_high=1,
                         data_low=None, data_high=None):
    if data_low is None:
        data_low = min(df[name])
        data_high = max(df[name])

    df[name] = ((df[name] - data_low) / (data_high - data_low)) \
               * (normalized_high - normalized_low) + normalized_low

In [3]:
#path
path = "/Users/petronillagriffith/desktop/Fifa"

#import file
filename = os.path.join(path, "fifa_ranking.csv")

#names each column
names = ['rank', 'country', 'total_points', 'previous_points', 'rank_change', 'cur_year_avg', 
          'cur_year_avg_weighted', 'last_year_avg', 'last_year_avg_weighted', 'two_year_ago_avg', 
          'two_year_ago_avg_weighted', 'three_year_ago_avg_', 'three_year_ago_avg_weighted', 'confederation', 'rank_date']

#making a DataFrame
df = pd.read_csv(filename, encoding = "ISO-8859-1", sep=',', na_values=['-1'], index_col=False)

#writes out "Starting File:"
print("Starting File:")


print(df[20:100])


print()

#writes out "Ending File:"
print("Ending File:")

print(df[-10:1])

Starting File:
    rank country_full country_abrv  total_points  previous_points  \
20   139  Afghanistan          AFG        209.53              190
21   140  Afghanistan          AFG        209.53              210
22   140  Afghanistan          AFG        209.53              210
23   140  Afghanistan          AFG        213.85              210
24   139  Afghanistan          AFG        213.85              214
25   132  Afghanistan          AFG        227.29              214
26   133  Afghanistan          AFG        223.41              227
27   129  Afghanistan          AFG        226.05              223
28   140  Afghanistan          AFG        183.62              226
29   138  Afghanistan          AFG        183.62              184
30   138  Afghanistan          AFG        183.62              184
31   127  Afghanistan          AFG        213.48              184
32   122  Afghanistan          AFG        226.23              213
33   128  Afghanistan          AFG        203.66              226
34   130  Afghanistan          AFG        214.59              204
35   129  Afghanistan          AFG        217.12              215
36   129  Afghanistan          AFG        217.12              217
37   135  Afghanistan          AFG        213.87              217
38   134  Afghanistan          AFG        213.87              214
39   133  Afghanistan          AFG        215.64              214
40   143  Afghanistan          AFG        190.34              216
41   142  Afghanistan          AFG        190.34              190
42   144  Afghanistan          AFG        180.88              190
43   137  Afghanistan          AFG        203.33              181
44   135  Afghanistan          AFG        202.84              203
45   135  Afghanistan          AFG        207.60              203
46   151  Afghanistan          AFG        137.84              208
47   134  Afghanistan          AFG        212.14              138
48   134  Afghanistan          AFG        212.14              212
49   130  Afghanistan          AFG        225.59              212
..   ...          ...          ...           ...              ...
70   158  Afghanistan          AFG        140.09              161
71   155  Afghanistan          AFG        160.12              140
72   156  Afghanistan          AFG        160.12              160
73   158  Afghanistan          AFG        146.79              160
74   154  Afghanistan          AFG        168.13              147
75   147  Afghanistan          AFG        181.11              168
76   148  Afghanistan          AFG        181.11              181
77   148  Afghanistan          AFG        176.44              181
78   148  Afghanistan          AFG        176.43              176
79   148  Afghanistan          AFG        176.43              176
80   142  Afghanistan          AFG        193.60              176
81   140  Afghanistan          AFG        198.79              194
82   145  Afghanistan          AFG        187.60              199
83    57      Albania          ALB        546.27              524
84    71      Albania          ALB        473.76              546
85    71      Albania          ALB        461.96              474
86    75      Albania          ALB        449.94              462
87    74      Albania          ALB        449.94              450
88    77      Albania          ALB        449.94              450
89    78      Albania          ALB        451.89              450
90    80      Albania          ALB        432.16              452
91    84      Albania          ALB        383.81              432
92    84      Albania          ALB        383.81              384
93    79      Albania          ALB        450.74              384
94    75      Albania          ALB        447.85              451
95    74      Albania          ALB        447.85              448
96    84      Albania          ALB        410.24              448
97    84      Albania          ALB        414.15              410
98    67      Albania          ALB        495.87              414
99    63      Albania          ALB        517.97              496

    rank_change  cur_year_avg  cur_year_avg_weighted  last_year_avg  \
20          2.0        150.50                 150.50          79.37
21          NaN        150.50                 150.50          79.37
22          0.0        150.50                 150.50          79.37
23          0.0        150.50                 150.50          89.61
24          1.0        150.50                 150.50          89.61
25          7.0        163.94                 163.94          89.61
26          NaN        160.06                 160.06          89.61
27          4.0        160.06                 160.06          89.61
28        -11.0        160.06                 160.06           0.00
29          2.0        160.06                 160.06           0.00
30          0.0        160.06                 160.06           0.00
31         11.0        114.67                 114.67         150.50
32          5.0        114.67                 114.67         150.50
33         -6.0         91.70                  91.70         150.50
34         -2.0        102.63                 102.63         150.50
35          1.0        102.63                 102.63         150.50
36          0.0        102.63                 102.63         150.50
37         -6.0         94.60                  94.60         160.06
38          1.0         94.60                  94.60         160.06
39          1.0         94.60                  94.60         160.06
40        -10.0         94.60                  94.60         160.06
41          1.0         94.60                  94.60         160.06
42         -2.0         85.14                  85.14         160.06
43          7.0         85.14                  85.14         114.67
44          2.0         85.14                  85.14         114.67
45          0.0        100.73                 100.73          91.70
46        -16.0         25.50                  25.50         102.63
47         17.0         97.75                  97.75         102.63
48          0.0         97.75                  97.75         102.63
49          4.0         97.75                  97.75          98.57
..          ...           ...                    ...            ...
70         -4.0         61.20                  61.20         101.43
71          3.0         61.93                  61.93          96.69
72          NaN         61.93                  61.93          96.69
73         -2.0         54.19                  54.19         105.48
74          4.0         72.78                  72.78         120.28
75          7.0         93.77                  93.77          88.40
76          NaN         93.77                  93.77          88.40
77          0.0         93.77                  93.77          74.80
78          0.0         93.77                  93.77          74.80
79          0.0         93.77                  93.77          74.80
80          6.0        115.05                 115.05          61.20
81          2.0        115.05                 115.05          61.20
82         -5.0        112.98                 112.98          72.25
83          2.0        326.55                 326.55         272.93
84        -14.0        224.80                 224.80         308.50
85          0.0        227.30                 227.30         313.39
86         -4.0        205.09                 205.09         316.39
87          1.0        205.09                 205.09         316.39
88         -3.0        205.09                 205.09         316.39
89          NaN        225.60                 225.60         284.75
90         -2.0        205.09                 205.09         262.72
91         -4.0        103.35                 103.35         358.70
92          0.0        103.35                 103.35         358.70
93          5.0        147.51                 147.51         378.62
94          4.0        177.01                 177.01         302.90
95          1.0        177.01                 177.01         302.90
96        -10.0        142.67                 142.67         287.05
97          0.0        177.16                 177.16         224.80
98         17.0        263.16                 263.16         227.30
99          4.0        294.77                 294.77         205.09

    last_year_avg_weighted  two_year_ago_avg  two_year_ago_avg_weighted  \
20                   39.68             64.50                      19.35
21                   39.68             64.50                      19.35
22                   39.68             64.50                      19.35
23                   44.81             61.81                      18.54
24                   44.81             61.81                      18.54
25                   44.81             61.81                      18.54
26                   44.81             61.81                      18.54
27                   44.81             70.64                      21.19
28                    0.00             78.55                      23.56
29                    0.00             78.55                      23.56
30                    0.00             78.55                      23.56
31                   75.25             78.55                      23.56
32                   75.25             69.45                      20.83
33                   75.25             79.37                      23.81
34                   75.25             79.37                      23.81
35                   75.25             89.61                      26.88
36                   75.25             89.61                      26.88
37                   80.03             89.61                      26.88
38                   80.03             89.61                      26.88
39                   80.03             89.61                      26.88
40                   80.03              0.00                       0.00
41                   80.03              0.00                       0.00
42                   80.03              0.00                       0.00
43                   57.33            150.50                      45.15
44                   57.33            150.50                      45.15
45                   45.85            150.50                      45.15
46                   51.31            150.50                      45.15
47                   51.31            150.50                      45.15
48                   51.31            150.50                      45.15
49                   49.28            202.10                      60.63
..                     ...               ...                        ...
70                   50.72             25.50                       7.65
71                   48.34             97.75                      29.33
72                   48.34             97.75                      29.33
73                   52.74             69.82                      20.95
74                   60.14             54.31                      16.29
75                   44.20             80.75                      24.23
76                   44.20             80.75                      24.23
77                   37.40             87.83                      26.35
78                   37.40             94.11                      28.23
79                   37.40             94.11                      28.23
80                   30.60            103.06                      30.92
81                   30.60            103.06                      30.92
82                   36.13            105.64                      31.69
83                  136.46            187.91                      56.37
84                  154.25            160.20                      48.06
85                  156.69            125.22                      37.57
86                  158.19            128.67                      38.60
87                  158.19            128.67                      38.60
88                  158.19            128.67                      38.60
89                  142.37            129.13                      38.74
90                  131.36            168.44                      50.53
91                  179.35            216.57                      64.97
92                  179.35            216.57                      64.97
93                  189.31            259.25                      77.78
94                  151.45            282.71                      84.81
95                  151.45            282.71                      84.81
96                  143.53            288.19                      86.46
97                  112.40            308.50                      92.55
98                  113.65            313.39                      94.02
99                  102.55            316.39                      94.92

    three_year_ago_avg  three_year_ago_avg_weighted confederation rank_date
20                0.00                         0.00           AFC   4/11/13
21                0.00                         0.00           AFC    5/9/13
22                0.00                         0.00           AFC    6/6/13
23                0.00                         0.00           AFC    7/4/13
24                0.00                         0.00           AFC    8/8/13
25                0.00                         0.00           AFC   9/12/13
26                0.00                         0.00           AFC  10/17/13
27                0.00                         0.00           AFC  11/28/13
28                0.00                         0.00           AFC  12/19/13
29                0.00                         0.00           AFC   1/16/14
30                0.00                         0.00           AFC   2/13/14
31                0.00                         0.00           AFC   3/13/14
32               77.40                        15.48           AFC   4/10/14
33               64.50                        12.90           AFC    5/8/14
34               64.50                        12.90           AFC    6/5/14
35               61.81                        12.36           AFC   7/17/14
36               61.81                        12.36           AFC   8/14/14
37               61.81                        12.36           AFC   9/18/14
38               61.81                        12.36           AFC  10/23/14
39               70.64                        14.13           AFC  11/27/14
40               78.55                        15.71           AFC  12/18/14
41               78.55                        15.71           AFC    1/8/15
42               78.55                        15.71           AFC   2/12/15
43               78.55                        15.71           AFC   3/12/15
44               76.06                        15.21           AFC    4/9/15
45               79.37                        15.87           AFC    5/7/15
46               79.37                        15.87           AFC    6/4/15
47               89.61                        17.92           AFC    7/9/15
48               89.61                        17.92           AFC    8/6/15
49               89.61                        17.92           AFC    9/3/15
..                 ...                          ...           ...       ...
70              102.63                        20.53           AFC    6/1/17
71              102.63                        20.53           AFC    7/6/17
72              102.63                        20.53           AFC   8/10/17
73               94.60                        18.92           AFC   9/14/17
74               94.60                        18.92           AFC  10/16/17
75               94.60                        18.92           AFC  11/23/17
76               94.60                        18.92           AFC  12/21/17
77               94.60                        18.92           AFC   1/18/18
78               85.14                        17.03           AFC   2/15/18
79               85.14                        17.03           AFC   3/15/18
80               85.14                        17.03           AFC   4/12/18
81              111.08                        22.22           AFC   5/17/18
82               34.00                         6.80           AFC    6/7/18
83              134.43                        26.89          UEFA   8/24/11
84              233.25                        46.65          UEFA   9/21/11
85              202.00                        40.40          UEFA  10/19/11
86              240.29                        48.06          UEFA  11/23/11
87              240.29                        48.06          UEFA  12/21/11
88              240.29                        48.06          UEFA   1/18/12
89              225.88                        45.18          UEFA   2/15/12
90              225.88                        45.18          UEFA    3/7/12
91              180.70                        36.14          UEFA   4/11/12
92              180.70                        36.14          UEFA    5/9/12
93              180.70                        36.14          UEFA    6/6/12
94              172.91                        34.58          UEFA    7/4/12
95              172.91                        34.58          UEFA    8/8/12
96              187.91                        37.58          UEFA    9/5/12
97              160.20                        32.04          UEFA   10/3/12
98              125.22                        25.04          UEFA   11/7/12
99              128.67                        25.73          UEFA  12/19/12

[80 rows x 16 columns]

Ending File:
Empty DataFrame
Columns: [rank, country_full, country_abrv, total_points, previous_points, rank_change, cur_year_avg, cur_year_avg_weighted, last_year_avg, last_year_avg_weighted, two_year_ago_avg, two_year_ago_avg_weighted, three_year_ago_avg, three_year_ago_avg_weighted, confederation, rank_date]
Index: []

In [5]:
df.head(5)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_avg_weighted,three_year_ago_avg,three_year_ago_avg_weighted,confederation,rank_date
0,181,Afghanistan,AFG,70.28,73,-2.0,61.81,61.81,0.0,0.0,8.5,2.55,29.58,5.92,AFC,8/24/11
1,183,Afghanistan,AFG,70.28,70,-2.0,61.81,61.81,0.0,0.0,8.5,2.55,29.58,5.92,AFC,9/21/11
2,184,Afghanistan,AFG,68.58,70,NaN,61.81,61.81,0.0,0.0,0.0,0.00,33.83,6.77,AFC,10/19/11
3,178,Afghanistan,AFG,77.41,69,6.0,70.64,70.64,0.0,0.0,0.0,0.00,33.83,6.77,AFC,11/23/11
4,177,Afghanistan,AFG,85.32,77,1.0,78.55,78.55,0.0,0.0,0.0,0.00,33.83,6.77,AFC,12/21/11

In [6]:
a = df['country_full'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['country_full_class'] = df['country_full'].map(lambda x: byte_offset_map[x])

In [7]:
a = df['country_abrv'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['country_abrv_class'] = df['country_abrv'].map(lambda x: byte_offset_map[x])

In [8]:
a = df['confederation'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['confederation_class'] = df['confederation'].map(lambda x: byte_offset_map[x])

In [9]:
a = df['rank_date'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['rank_date_class'] = df['rank_date'].map(lambda x: byte_offset_map[x])

In [10]:
df[1000:1003]

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_avg_weighted,three_year_ago_avg,three_year_ago_avg_weighted,confederation,rank_date,country_full_class,country_abrv_class,confederation_class,rank_date_class
1000,10,Austria,AUT,1090.67,1091,0.0,641.95,641.95,548.70,274.35,414.48,124.35,250.13,50.03,UEFA,2/4/16,12,12,1,54
1001,10,Austria,AUT,1095.41,1091,0.0,641.95,641.95,548.70,274.35,460.54,138.16,204.75,40.95,UEFA,3/3/16,12,12,1,55
1002,11,Austria,AUT,1066.83,1095,NaN,610.71,610.71,548.51,274.26,445.36,133.61,241.30,48.26,UEFA,4/7/16,12,12,1,56

In [11]:
#Drops the 'country' column from the data set
df = df.drop(['country_full'], axis=1)

In [12]:
#Drops the 'country' column from the data set
df = df.drop(['country_abrv'], axis=1)

In [13]:
#Drops the 'confederation' column from the data set
df = df.drop(['confederation'], axis=1)

In [14]:
#Drops the 'confederation' column from the data set
df = df.drop(['rank_date'], axis=1)

In [15]:
df.head(5)

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_avg_weighted,three_year_ago_avg,three_year_ago_avg_weighted,country_full_class,country_abrv_class,confederation_class,rank_date_class
0,181,70.28,73,-2.0,61.81,61.81,0.0,0.0,8.5,2.55,29.58,5.92,0,0,0,0
1,183,70.28,70,-2.0,61.81,61.81,0.0,0.0,8.5,2.55,29.58,5.92,0,0,0,1
2,184,68.58,70,NaN,61.81,61.81,0.0,0.0,0.0,0.00,33.83,6.77,0,0,0,2
3,178,77.41,69,6.0,70.64,70.64,0.0,0.0,0.0,0.00,33.83,6.77,0,0,0,3
4,177,85.32,77,1.0,78.55,78.55,0.0,0.0,0.0,0.00,33.83,6.77,0,0,0,4

In [29]:
len(df)

15164

In [18]:
max = df.loc[df['country_full_class'].idxmax()]

In [30]:
total_country = max['country_full_class']

In [31]:
total_country

210.0

In [32]:
df.dtypes

rank                             int64
total_points                   float64
previous_points                  int64
rank_change                    float64
cur_year_avg                   float64
cur_year_avg_weighted          float64
last_year_avg                  float64
last_year_avg_weighted         float64
two_year_ago_avg               float64
two_year_ago_avg_weighted      float64
three_year_ago_avg             float64
three_year_ago_avg_weighted    float64
country_full_class               int64
country_abrv_class               int64
confederation_class              int64
rank_date_class                  int64
dtype: object

In [33]:
df.isnull().values.any()

False

In [ ]:
#x, y = to_xy(df,'total_points')

#y = df['total_points']


#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)
#print(x_train.shape)
#print(x_test.shape)

In [34]:
x = int(len(df)*.7)
pt_to_split = int(x)
print(pt_to_split)

10614

In [41]:
x = df
x_train= df[:pt_to_split]
x_test = df[pt_to_split:]
print(x_train.shape)
print(x_test.shape)

(10614, 16)
(4550, 16)

In [42]:
y = df['total_points']
y_train = y[:pt_to_split]
y_test = y [pt_to_split:]
print(y_train.shape)
print(y_test.shape)

(10614,)
(4550,)

In [ ]:
#df = df.drop(['rank_change'], axis=1)

In [ ]:
nan_rows = df[df.isnull().T.any().T]

In [ ]:
len(nan_rows)

In [27]:
df = df[pd.notnull(df['rank_change'])]
df

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_avg_weighted,three_year_ago_avg,three_year_ago_avg_weighted,country_full_class,country_abrv_class,confederation_class,rank_date_class
0,181,70.28,73,-2.0,61.81,61.81,0.00,0.00,8.50,2.55,29.58,5.92,0,0,0,0
1,183,70.28,70,-2.0,61.81,61.81,0.00,0.00,8.50,2.55,29.58,5.92,0,0,0,1
3,178,77.41,69,6.0,70.64,70.64,0.00,0.00,0.00,0.00,33.83,6.77,0,0,0,3
4,177,85.32,77,1.0,78.55,78.55,0.00,0.00,0.00,0.00,33.83,6.77,0,0,0,4
5,177,85.32,85,0.0,78.55,78.55,0.00,0.00,0.00,0.00,33.83,6.77,0,0,0,5
7,178,85.32,85,0.0,78.55,78.55,0.00,0.00,0.00,0.00,33.83,6.77,0,0,0,7
8,168,118.39,85,10.0,79.37,79.37,64.50,32.25,0.00,0.00,33.83,6.77,0,0,0,8
9,170,114.81,118,-2.0,79.37,79.37,64.50,32.25,0.00,0.00,15.94,3.19,0,0,0,9
10,168,114.05,115,2.0,79.37,79.37,64.50,32.25,0.00,0.00,12.14,2.43,0,0,0,10
11,162,122.22,114,6.0,89.61,89.61,61.81,30.91,0.00,0.00,8.50,1.70,0,0,0,11
12,164,122.22,122,-2.0,89.61,89.61,61.81,30.91,0.00,0.00,8.50,1.70,0,0,0,12
16,186,39.27,121,-19.0,0.00,0.00,78.55,39.27,0.00,0.00,0.00,0.00,0,0,0,16
17,186,39.27,39,0.0,0.00,0.00,78.55,39.27,0.00,0.00,0.00,0.00,0,0,0,17
18,189,39.27,39,-3.0,0.00,0.00,78.55,39.27,0.00,0.00,0.00,0.00,0,0,0,18
19,141,189.77,39,48.0,150.50,150.50,78.55,39.27,0.00,0.00,0.00,0.00,0,0,0,19
20,139,209.53,190,2.0,150.50,150.50,79.37,39.68,64.50,19.35,0.00,0.00,0,0,0,20
22,140,209.53,210,0.0,150.50,150.50,79.37,39.68,64.50,19.35,0.00,0.00,0,0,0,22
23,140,213.85,210,0.0,150.50,150.50,89.61,44.81,61.81,18.54,0.00,0.00,0,0,0,23
24,139,213.85,214,1.0,150.50,150.50,89.61,44.81,61.81,18.54,0.00,0.00,0,0,0,24
25,132,227.29,214,7.0,163.94,163.94,89.61,44.81,61.81,18.54,0.00,0.00,0,0,0,25
27,129,226.05,223,4.0,160.06,160.06,89.61,44.81,70.64,21.19,0.00,0.00,0,0,0,27
28,140,183.62,226,-11.0,160.06,160.06,0.00,0.00,78.55,23.56,0.00,0.00,0,0,0,28
29,138,183.62,184,2.0,160.06,160.06,0.00,0.00,78.55,23.56,0.00,0.00,0,0,0,29
30,138,183.62,184,0.0,160.06,160.06,0.00,0.00,78.55,23.56,0.00,0.00,0,0,0,30
31,127,213.48,184,11.0,114.67,114.67,150.50,75.25,78.55,23.56,0.00,0.00,0,0,0,31
32,122,226.23,213,5.0,114.67,114.67,150.50,75.25,69.45,20.83,77.40,15.48,0,0,0,32
33,128,203.66,226,-6.0,91.70,91.70,150.50,75.25,79.37,23.81,64.50,12.90,0,0,0,33
34,130,214.59,204,-2.0,102.63,102.63,150.50,75.25,79.37,23.81,64.50,12.90,0,0,0,34
35,129,217.12,215,1.0,102.63,102.63,150.50,75.25,89.61,26.88,61.81,12.36,0,0,0,35
36,129,217.12,217,0.0,102.63,102.63,150.50,75.25,89.61,26.88,61.81,12.36,0,0,0,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17049,109,304.75,313,0.0,158.95,158.95,153.96,76.98,119.85,35.95,164.32,32.86,210,210,2,51
17051,108,321.87,318,2.0,176.61,176.61,148.93,74.46,116.21,34.86,179.64,35.93,210,210,2,53
17052,131,266.43,322,-23.0,142.23,142.23,85.75,42.88,143.85,43.16,190.81,38.16,210,210,2,54
17053,131,270.58,266,0.0,142.23,142.23,85.75,42.88,141.37,42.41,215.32,43.06,210,210,2,55
17054,127,281.40,271,4.0,168.06,168.06,59.04,29.52,151.81,45.54,191.40,38.28,210,210,2,56
17055,126,279.85,281,1.0,168.06,168.06,59.04,29.52,159.40,47.82,172.26,34.45,210,210,2,57
17056,115,302.80,280,11.0,190.71,190.71,63.75,31.88,152.53,45.76,172.26,34.45,210,210,2,58
17057,112,332.28,303,3.0,188.77,188.77,135.76,67.88,168.29,50.49,125.73,25.15,210,210,2,59
17058,110,338.40,332,2.0,188.77,188.77,135.76,67.88,193.10,57.93,119.11,23.82,210,210,2,60
17059,113,315.50,338,-3.0,166.37,166.37,151.30,75.65,170.36,51.11,111.86,22.37,210,210,2,61
17060,110,323.11,316,3.0,167.49,167.49,170.94,85.47,153.96,46.19,119.85,23.97,210,210,2,62
17061,102,334.30,323,8.0,178.08,178.08,176.61,88.31,148.93,44.68,116.21,23.24,210,210,2,63
17062,102,334.30,334,0.0,178.08,178.08,176.61,88.31,148.93,44.68,116.21,23.24,210,210,2,64
17064,105,329.85,330,-2.0,204.73,204.73,142.23,71.12,85.75,25.73,141.37,28.27,210,210,2,66
17065,109,322.54,330,-4.0,204.73,204.73,142.23,71.12,59.04,17.71,144.91,28.98,210,210,2,67
17066,111,302.06,323,-2.0,169.96,169.96,168.06,84.03,59.04,17.71,151.81,30.36,210,210,2,68
17067,110,303.58,302,1.0,169.96,169.96,168.06,84.03,59.04,17.71,159.40,31.88,210,210,2,69
17068,115,303.21,304,-5.0,152.58,152.58,202.02,101.01,63.75,19.13,152.53,30.51,210,210,2,70
17069,101,324.47,303,14.0,155.81,155.81,188.77,94.38,135.76,40.73,167.79,33.56,210,210,2,71
17070,101,325.09,324,0.0,151.36,151.36,188.77,94.38,135.76,40.73,193.10,38.62,210,210,2,72
17071,105,325.65,325,-4.0,163.00,163.00,166.37,83.19,151.30,45.39,170.36,34.07,210,210,2,73
17072,104,328.94,326,1.0,163.00,163.00,166.37,83.19,173.19,51.96,153.96,30.79,210,210,2,74
17073,103,323.17,329,1.0,151.36,151.36,178.08,89.04,176.61,52.98,148.93,29.79,210,210,2,75
17074,103,323.17,323,0.0,151.36,151.36,178.08,89.04,176.61,52.98,148.93,29.79,210,210,2,76
17075,106,311.38,323,-3.0,131.42,131.42,197.45,98.72,176.61,52.98,141.23,28.25,210,210,2,77
17076,105,317.51,311,1.0,155.32,155.32,204.73,102.37,142.23,42.67,85.75,17.15,210,210,2,78
17077,108,312.16,318,-3.0,155.32,155.32,204.73,102.37,142.23,42.67,59.04,11.81,210,210,2,79
17078,110,294.68,312,-2.0,147.48,147.48,169.96,84.98,168.06,50.42,59.04,11.81,210,210,2,80
17079,113,286.55,295,-3.0,136.13,136.13,169.96,84.98,171.18,51.35,70.45,14.09,210,210,2,81
17080,118,264.59,287,-5.0,133.45,133.45,97.54,48.77,232.08,69.62,63.75,12.75,210,210,2,82

In [44]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(10614, 16)
(4550, 16)
(10614, 1)
(4550, 1)

In [43]:
y_train = y_train.values.reshape(10614,1)
y_test = y_test.values.reshape(4550,1)

In [45]:
%matplotlib inline
from matplotlib.pyplot import figure, show
from sklearn.model_selection import train_test_split
import pandas as pd
import os
import numpy as np
from sklearn import metrics
from scipy.stats import zscore
import tensorflow as tf
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.callbacks import EarlyStopping



model = Sequential()
model.add(Dense(50, input_dim=x_train.shape[1], activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto')
checkpointer = ModelCheckpoint(filepath="best_weights.hdf5", verbose=0, save_best_only=True) # save best model
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 50)                850
_________________________________________________________________
dense_2 (Dense)              (None, 25)                1275
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 26
=================================================================
Total params: 2,151
Trainable params: 2,151
Non-trainable params: 0
_________________________________________________________________

In [48]:
model.fit(x_train,y_train,validation_data=(x_test,y_test),callbacks=[monitor,checkpointer],verbose=1,epochs=100)
model.load_weights('best_weights.hdf5') # load weights from best model

Train on 10614 samples, validate on 4550 samples
Epoch 1/100
10614/10614 [==============================] - 1s 104us/step - loss: 2.6609 - val_loss: 2.2989
Epoch 2/100
10614/10614 [==============================] - 1s 103us/step - loss: 7.7054 - val_loss: 2.2420
Epoch 3/100
10614/10614 [==============================] - 1s 102us/step - loss: 0.8967 - val_loss: 1.4897
Epoch 4/100
10614/10614 [==============================] - 1s 109us/step - loss: 0.9440 - val_loss: 1.6674
Epoch 5/100
10614/10614 [==============================] - 1s 103us/step - loss: 1.3273 - val_loss: 1.3204
Epoch 6/100
10614/10614 [==============================] - 1s 102us/step - loss: 14.0849 - val_loss: 11.1638
Epoch 7/100
10614/10614 [==============================] - 1s 96us/step - loss: 8.8551 - val_loss: 1.8076
Epoch 8/100
10614/10614 [==============================] - 1s 102us/step - loss: 0.4357 - val_loss: 2.0800
Epoch 9/100
10614/10614 [==============================] - 1s 98us/step - loss: 0.4293 - val_loss: 1.3820
Epoch 10/100
10614/10614 [==============================] - 1s 100us/step - loss: 0.3668 - val_loss: 1.4294
Epoch 00010: early stopping

In [49]:
# Predict and measure RMSE
pred = model.predict(x_test)
score = np.sqrt(metrics.mean_squared_error(pred,y_test))
print("Score (RMSE): {}".format(score))

Score (RMSE): 1.1490841777152927