In [1]:
#general
import io
import os
import shutil
import requests
import base64

#pandas
import pandas as pd

#numpy
import numpy as np

#matplotlib.pylot
import matplotlib.pyplot as plt

#sklearn
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

#keras
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint
from keras.layers.core import Dense, Activation

Using TensorFlow backend.

In [2]:
from sklearn import preprocessing
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import shutil
import os
import requests
import base64


# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = "{}-{}".format(name, x)
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)


# Encode text values to a single dummy variable.  The new columns (which do not replace the old) will have a 1
# at every location where the original column (name) matches each of the target_values.  One column is added for
# each target value.
def encode_text_single_dummy(df, name, target_values):
    for tv in target_values:
        l = list(df[name].astype(str))
        l = [1 if str(x) == str(tv) else 0 for x in l]
        name2 = "{}-{}".format(name, tv)
        df[name2] = l


# Encode text values to indexes(i.e. [1],[2],[3] for red,green,blue).
def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    df[name] = le.fit_transform(df[name])
    return le.classes_


# Encode a numeric column as zscores
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd


# Convert all missing values in the specified column to the median
def missing_median(df, name):
    med = df[name].median()
    df[name] = df[name].fillna(med)


# Convert all missing values in the specified column to the default
def missing_default(df, name, default_value):
    df[name] = df[name].fillna(default_value)


# Convert a Pandas dataframe to the x,y inputs that TensorFlow needs
def to_xy(df, target):
    result = []
    for x in df.columns:
        if x != target:
            result.append(x)
    # find out the type of the target column.  Is it really this hard? :(
    target_type = df[target].dtypes
    target_type = target_type[0] if hasattr(target_type, '__iter__') else target_type
    # Encode to int for classification, float otherwise. TensorFlow likes 32 bits.
    if target_type in (np.int64, np.int32):
        # Classification
        dummies = pd.get_dummies(df[target])
        return df.as_matrix(result).astype(np.float32), dummies.as_matrix().astype(np.float32)
    else:
        # Regression
        return df.as_matrix(result).astype(np.float32), df.as_matrix([target]).astype(np.float32)

# Nicely formatted time string
def hms_string(sec_elapsed):
    h = int(sec_elapsed / (60 * 60))
    m = int((sec_elapsed % (60 * 60)) / 60)
    s = sec_elapsed % 60
    return "{}:{:>02}:{:>05.2f}".format(h, m, s)


# Regression chart.
def chart_regression(pred,y,sort=True):
    t = pd.DataFrame({'pred' : pred, 'y' : y.flatten()})
    if sort:
        t.sort_values(by=['y'],inplace=True)
    a = plt.plot(t['y'].tolist(),label='expected')
    b = plt.plot(t['pred'].tolist(),label='prediction')
    plt.ylabel('output')
    plt.legend()
    plt.show()

# Remove all rows where the specified column is +/- sd standard deviations
def remove_outliers(df, name, sd):
    drop_rows = df.index[(np.abs(df[name] - df[name].mean()) >= (sd * df[name].std()))]
    df.drop(drop_rows, axis=0, inplace=True)


# Encode a column to a range between normalized_low and normalized_high.
def encode_numeric_range(df, name, normalized_low=-1, normalized_high=1,
                         data_low=None, data_high=None):
    if data_low is None:
        data_low = min(df[name])
        data_high = max(df[name])

    df[name] = ((df[name] - data_low) / (data_high - data_low)) \
               * (normalized_high - normalized_low) + normalized_low

In [3]:
#path
path = "/Users/petronillagriffith/desktop/Fifa"

#import file
filename = os.path.join(path, "fifa_ranking.csv")

#names each column
names = ['rank', 'country', 'total_points', 'previous_points', 'rank_change', 'cur_year_avg', 
          'cur_year_avg_weighted', 'last_year_avg', 'last_year_avg_weighted', 'two_year_ago_avg', 
          'two_year_ago_avg_weighted', 'three_year_ago_avg_', 'three_year_ago_avg_weighted', 'confederation', 'rank_date']

#making a DataFrame
df = pd.read_csv(filename, encoding = "ISO-8859-1", sep=',', na_values=['-1'], index_col=False)

#writes out "Starting File:"
print("Starting File:")


print(df[20:100])


print()

#writes out "Ending File:"
print("Ending File:")

print(df[-10:1])

Starting File:
    rank         country_full country_abrv  total_points  previous_points  \
20    21              Romania          ROU           0.0               51
21    22              Uruguay          URU           0.0               47
22    23             Portugal          POR           0.0               38
23    24             Cameroon          CMR           0.0               43
24    25               Zambia          ZAM           0.0               38
25    26                Egypt          EGY           0.0               44
26    27                Wales          WAL           0.0               40
27    28                  USA          USA           0.0               43
28    29       CÃ´te d'Ivoire          CIV           0.0               41
29    30             Scotland          SCO           0.0               43
30    31              Tunisia          TUN           0.0               35
31    32               Greece          GRE           0.0               38
32    33              Morocco          MAR           0.0               32
33    34              Algeria          ALG           0.0               38
34    35              Ecuador          ECU           0.0               23
35    36       Korea Republic          KOR           0.0               27
36    37             Bulgaria          BUL           0.0               41
37    38              Austria          AUT           0.0               38
38    39           Costa Rica          CRC           0.0               35
39    40     Northern Ireland          NIR           0.0               31
40    41             Honduras          HON           0.0               32
41    42              Hungary          HUN           0.0               35
42    43                Japan          JPN           0.0               22
43    44         Saudi Arabia          KSA           0.0               27
44    45             China PR          CHN           0.0               26
45    46               Canada          CAN           0.0               25
46    47              Finland          FIN           0.0               30
47    48                Ghana          GHA           0.0               34
48    49                Chile          CHI           0.0               28
49    50             Zimbabwe          ZIM           0.0               27
..   ...                  ...          ...           ...              ...
70    71                Zaire          ZAI           0.0               24
71    72               Cyprus          CYP           0.0               20
72    73            Singapore          SIN           0.0               12
73    74                 Mali          MLI           0.0               21
74    75             Malaysia          MAS           0.0               12
75    76              Bermuda          BER           0.0               25
76    77                Niger          NIG           0.0               15
77    78                Syria          SYR           0.0               11
78    79              Bahrain          BHR           0.0               13
79    80          New Zealand          NZL           0.0               21
80    81           Madagascar          MAD           0.0               17
81    82                Malta          MLT           0.0               18
82    83              Jamaica          JAM           0.0               22
83    84            Lithuania          LTU           0.0               11
84    85  Trinidad and Tobago          TRI           0.0               24
85    86         Sierra Leone          SLE           0.0               16
86    87               Jordan          JOR           0.0                7
87    88                Kenya          KEN           0.0               17
88    89               Latvia          LVA           0.0               10
89    90                Yemen          YEM           0.0                6
90    91             Tanzania          TAN           0.0               15
91    92              Albania          ALB           0.0               14
92    93               Angola          ANG           0.0               10
93    94            Venezuela          VEN           0.0                4
94    95             Ethiopia          ETH           0.0               14
95    96              Burundi          BDI           0.0               10
96    97                 Oman          OMA           0.0                6
97    98            Indonesia          IDN           0.0                9
98    99              Liberia          LBR           0.0               14
99   100           Mozambique          MOZ           0.0                9

    rank_change  cur_year_avg  cur_year_avg_weighted  last_year_avg  \
20        -10.0           0.0                    0.0            0.0
21         -6.0           0.0                    0.0            0.0
22         10.0           0.0                    0.0            0.0
23         -2.0           0.0                    0.0            0.0
24          7.0           0.0                    0.0            0.0
25         -5.0           0.0                    0.0            0.0
26          1.0           0.0                    0.0            0.0
27         -4.0           0.0                    0.0            0.0
28         -2.0           0.0                    0.0            0.0
29         -7.0           0.0                    0.0            0.0
30          7.0           0.0                    0.0            0.0
31          NaN           0.0                    0.0            0.0
32          8.0           0.0                    0.0            0.0
33         -4.0           0.0                    0.0            0.0
34         30.0           0.0                    0.0            0.0
35         13.0           0.0                    0.0            0.0
36        -11.0           0.0                    0.0            0.0
37         -4.0           0.0                    0.0            0.0
38         -2.0           0.0                    0.0            0.0
39          3.0           0.0                    0.0            0.0
40          NaN           0.0                    0.0            0.0
41         -6.0           0.0                    0.0            0.0
42         23.0           0.0                    0.0            0.0
43          4.0           0.0                    0.0            0.0
44         11.0           0.0                    0.0            0.0
45         11.0           0.0                    0.0            0.0
46         -3.0           0.0                    0.0            0.0
47         -9.0           0.0                    0.0            0.0
48         -2.0           0.0                    0.0            0.0
49          4.0           0.0                    0.0            0.0
..          ...           ...                    ...            ...
70        -11.0           0.0                    0.0            0.0
71          0.0           0.0                    0.0            0.0
72         16.0           0.0                    0.0            0.0
73         -5.0           0.0                    0.0            0.0
74         16.0           0.0                    0.0            0.0
75        -18.0           0.0                    0.0            0.0
76          4.0           0.0                    0.0            0.0
77         18.0           0.0                    0.0            0.0
78          9.0           0.0                    0.0            0.0
79        -10.0           0.0                    0.0            0.0
80         -7.0           0.0                    0.0            0.0
81         -9.0           0.0                    0.0            0.0
82        -16.0           0.0                    0.0            0.0
83          9.0           0.0                    0.0            0.0
84        -23.0           0.0                    0.0            0.0
85         -7.0           0.0                    0.0            0.0
86         23.0           0.0                    0.0            0.0
87        -12.0           0.0                    0.0            0.0
88         10.0           0.0                    0.0            0.0
89         25.0           0.0                    0.0            0.0
90        -11.0           0.0                    0.0            0.0
91         -6.0           0.0                    0.0            0.0
92          9.0           0.0                    0.0            0.0
93         31.0           0.0                    0.0            0.0
94        -10.0           0.0                    0.0            0.0
95          4.0           0.0                    0.0            0.0
96         19.0           0.0                    0.0            0.0
97         10.0           0.0                    0.0            0.0
98        -15.0           0.0                    0.0            0.0
99          7.0           0.0                    0.0            0.0

    last_year_avg_weighted  two_year_ago_avg  two_year_ago_weighted  \
20                     0.0               0.0                    0.0
21                     0.0               0.0                    0.0
22                     0.0               0.0                    0.0
23                     0.0               0.0                    0.0
24                     0.0               0.0                    0.0
25                     0.0               0.0                    0.0
26                     0.0               0.0                    0.0
27                     0.0               0.0                    0.0
28                     0.0               0.0                    0.0
29                     0.0               0.0                    0.0
30                     0.0               0.0                    0.0
31                     0.0               0.0                    0.0
32                     0.0               0.0                    0.0
33                     0.0               0.0                    0.0
34                     0.0               0.0                    0.0
35                     0.0               0.0                    0.0
36                     0.0               0.0                    0.0
37                     0.0               0.0                    0.0
38                     0.0               0.0                    0.0
39                     0.0               0.0                    0.0
40                     0.0               0.0                    0.0
41                     0.0               0.0                    0.0
42                     0.0               0.0                    0.0
43                     0.0               0.0                    0.0
44                     0.0               0.0                    0.0
45                     0.0               0.0                    0.0
46                     0.0               0.0                    0.0
47                     0.0               0.0                    0.0
48                     0.0               0.0                    0.0
49                     0.0               0.0                    0.0
..                     ...               ...                    ...
70                     0.0               0.0                    0.0
71                     0.0               0.0                    0.0
72                     0.0               0.0                    0.0
73                     0.0               0.0                    0.0
74                     0.0               0.0                    0.0
75                     0.0               0.0                    0.0
76                     0.0               0.0                    0.0
77                     0.0               0.0                    0.0
78                     0.0               0.0                    0.0
79                     0.0               0.0                    0.0
80                     0.0               0.0                    0.0
81                     0.0               0.0                    0.0
82                     0.0               0.0                    0.0
83                     0.0               0.0                    0.0
84                     0.0               0.0                    0.0
85                     0.0               0.0                    0.0
86                     0.0               0.0                    0.0
87                     0.0               0.0                    0.0
88                     0.0               0.0                    0.0
89                     0.0               0.0                    0.0
90                     0.0               0.0                    0.0
91                     0.0               0.0                    0.0
92                     0.0               0.0                    0.0
93                     0.0               0.0                    0.0
94                     0.0               0.0                    0.0
95                     0.0               0.0                    0.0
96                     0.0               0.0                    0.0
97                     0.0               0.0                    0.0
98                     0.0               0.0                    0.0
99                     0.0               0.0                    0.0

    three_year_ago_avg  three_year_ago_weighted confederation   rank_date
20                 0.0                      0.0          UEFA  1993-08-08
21                 0.0                      0.0      CONMEBOL  1993-08-08
22                 0.0                      0.0          UEFA  1993-08-08
23                 0.0                      0.0           CAF  1993-08-08
24                 0.0                      0.0           CAF  1993-08-08
25                 0.0                      0.0           CAF  1993-08-08
26                 0.0                      0.0          UEFA  1993-08-08
27                 0.0                      0.0      CONCACAF  1993-08-08
28                 0.0                      0.0           CAF  1993-08-08
29                 0.0                      0.0          UEFA  1993-08-08
30                 0.0                      0.0           CAF  1993-08-08
31                 0.0                      0.0          UEFA  1993-08-08
32                 0.0                      0.0           CAF  1993-08-08
33                 0.0                      0.0           CAF  1993-08-08
34                 0.0                      0.0      CONMEBOL  1993-08-08
35                 0.0                      0.0           AFC  1993-08-08
36                 0.0                      0.0          UEFA  1993-08-08
37                 0.0                      0.0          UEFA  1993-08-08
38                 0.0                      0.0      CONCACAF  1993-08-08
39                 0.0                      0.0          UEFA  1993-08-08
40                 0.0                      0.0      CONCACAF  1993-08-08
41                 0.0                      0.0          UEFA  1993-08-08
42                 0.0                      0.0           AFC  1993-08-08
43                 0.0                      0.0           AFC  1993-08-08
44                 0.0                      0.0           AFC  1993-08-08
45                 0.0                      0.0      CONCACAF  1993-08-08
46                 0.0                      0.0          UEFA  1993-08-08
47                 0.0                      0.0           CAF  1993-08-08
48                 0.0                      0.0      CONMEBOL  1993-08-08
49                 0.0                      0.0           CAF  1993-08-08
..                 ...                      ...           ...         ...
70                 0.0                      0.0           CAF  1993-08-08
71                 0.0                      0.0          UEFA  1993-08-08
72                 0.0                      0.0           AFC  1993-08-08
73                 0.0                      0.0           CAF  1993-08-08
74                 0.0                      0.0           AFC  1993-08-08
75                 0.0                      0.0      CONCACAF  1993-08-08
76                 0.0                      0.0           CAF  1993-08-08
77                 0.0                      0.0           AFC  1993-08-08
78                 0.0                      0.0           AFC  1993-08-08
79                 0.0                      0.0           OFC  1993-08-08
80                 0.0                      0.0           CAF  1993-08-08
81                 0.0                      0.0          UEFA  1993-08-08
82                 0.0                      0.0      CONCACAF  1993-08-08
83                 0.0                      0.0          UEFA  1993-08-08
84                 0.0                      0.0      CONCACAF  1993-08-08
85                 0.0                      0.0           CAF  1993-08-08
86                 0.0                      0.0           AFC  1993-08-08
87                 0.0                      0.0           CAF  1993-08-08
88                 0.0                      0.0          UEFA  1993-08-08
89                 0.0                      0.0           AFC  1993-08-08
90                 0.0                      0.0           CAF  1993-08-08
91                 0.0                      0.0          UEFA  1993-08-08
92                 0.0                      0.0           CAF  1993-08-08
93                 0.0                      0.0      CONMEBOL  1993-08-08
94                 0.0                      0.0           CAF  1993-08-08
95                 0.0                      0.0           CAF  1993-08-08
96                 0.0                      0.0           AFC  1993-08-08
97                 0.0                      0.0           AFC  1993-08-08
98                 0.0                      0.0           CAF  1993-08-08
99                 0.0                      0.0           CAF  1993-08-08

[80 rows x 16 columns]

Ending File:
Empty DataFrame
Columns: [rank, country_full, country_abrv, total_points, previous_points, rank_change, cur_year_avg, cur_year_avg_weighted, last_year_avg, last_year_avg_weighted, two_year_ago_avg, two_year_ago_weighted, three_year_ago_avg, three_year_ago_weighted, confederation, rank_date]
Index: []

In [70]:
df.head(5)

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,country_full_class,country_abrv_class,confederation_class,rank_date_class
0,1,0.0,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
1,2,0.0,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0
2,3,0.0,50,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,0,0
3,4,0.0,55,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3,0,0
4,5,0.0,51,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,4,1,0

In [6]:
a = df['country_full'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['country_full_class'] = df['country_full'].map(lambda x: byte_offset_map[x])

In [7]:
a = df['country_abrv'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['country_abrv_class'] = df['country_abrv'].map(lambda x: byte_offset_map[x])

In [8]:
a = df['confederation'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['confederation_class'] = df['confederation'].map(lambda x: byte_offset_map[x])

In [9]:
a = df['rank_date'].unique().tolist()

byte_offset_map = {}

for i, id in enumerate(a): byte_offset_map[id] = i
    
df['rank_date_class'] = df['rank_date'].map(lambda x: byte_offset_map[x])

In [10]:
df[1000:1003]

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date,country_full_class,country_abrv_class,confederation_class,rank_date_class
1000,164,Aruba,ARU,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,1994-02-15,163,163,2,5
1001,165,Chad,CHA,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1994-02-15,161,161,3,5
1002,165,St Kitts and Nevis,SKN,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,1994-02-15,168,168,2,5

In [11]:
#Drops the 'country' column from the data set
df = df.drop(['country_full'], axis=1)

In [12]:
#Drops the 'country' column from the data set
df = df.drop(['country_abrv'], axis=1)

In [13]:
#Drops the 'confederation' column from the data set
df = df.drop(['confederation'], axis=1)

In [14]:
#Drops the 'confederation' column from the data set
df = df.drop(['rank_date'], axis=1)

In [15]:
df[1000:1003]

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,country_full_class,country_abrv_class,confederation_class,rank_date_class
1000,164,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,163,163,2,5
1001,165,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,161,161,3,5
1002,165,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168,168,2,5

In [54]:
df.dtypes

rank                         int64
total_points               float64
previous_points              int64
rank_change                float64
cur_year_avg               float64
cur_year_avg_weighted      float64
last_year_avg              float64
last_year_avg_weighted     float64
two_year_ago_avg           float64
two_year_ago_weighted      float64
three_year_ago_avg         float64
three_year_ago_weighted    float64
country_full_class           int64
country_abrv_class           int64
confederation_class          int64
rank_date_class              int64
dtype: object

In [33]:
max = df.loc[df['country_full_class'].idxmax()]

In [49]:
total_country = max['country_full_class']

In [50]:
total_country

215.0